In [12]:
# Data Wrangling for Lab Session1
import pandas as pd

#Read the sheet 2017 update from Lab1_Doc
UpdatedData_2017 = pd.read_excel("Lab1_Doc.xlsx",sheetname=0)

In [34]:
#display records in sheet
#UpdatedData_2017.loc[140:180]
UpdatedData_2017.head()

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY
1,AOL,2004,92000000,web,inside job,Just email address/Online information
2,Automatic Data Processing,2005,125000,financial,poor security,SSN/Personal details
3,Ameritrade Inc.,2005,200000,financial,lost / stolen device,SSN/Personal details
4,Citigroup,2005,3900000,financial,lost / stolen device,Credit card information
5,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,Credit card information

In [14]:
#Drop junk columns from the sheet 2017 update
columns_to_drop = ['alternative name', 'story', 'interesting story', 'UNUSED' , 'UNUSED.1', 'Exclude', 'Unnamed: 13', '1st source link', '2nd source link', '3rd source', 'source name']
UpdatedData_2017 = UpdatedData_2017[[col for col in UpdatedData_2017.columns if col not in columns_to_drop]]

In [16]:
#Display rows with null value
NullRows = UpdatedData_2017[UpdatedData_2017.isnull().any(axis=1)]

In [17]:
NullRows

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
0,NaN,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...
147,OVH,9,NaN,web,hacked,500000,20
163,UbiSoft,9,NaN,gaming,hacked,58000000,20

In [22]:
#Fill nullvalue in 'records lost' column with the values from 'NO OF RECORDS STOLEN' column
UpdatedData_2017['records lost'] = UpdatedData_2017['records lost'].fillna(value=UpdatedData_2017['NO OF RECORDS STOLEN'])

In [26]:
#Drop 'NO OF RECORDS STOLEN' column
del UpdatedData_2017['NO OF RECORDS STOLEN']

In [28]:
#Drop a row-1, inplace = True just fills within the same dataframe
UpdatedData_2017.drop(UpdatedData_2017.index[:1], inplace=True)

In [30]:
#Replace YEAR column values
#0=2004, 8 = 2012, 9 = 2013, 10=2014, 11=2015, 12=2016, 13 = 2017, 14=latest/2017
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 0, 'YEAR'] = 2004
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 1, 'YEAR'] = 2005
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 2, 'YEAR'] = 2006
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 3, 'YEAR'] = 2007
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 4, 'YEAR'] = 2008
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 5, 'YEAR'] = 2009
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 6, 'YEAR'] = 2010
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 7, 'YEAR'] = 2011
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 8, 'YEAR'] = 2012
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 9, 'YEAR'] = 2013
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 10, 'YEAR'] = 2014
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 11, 'YEAR'] = 2015
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 12, 'YEAR'] = 2016
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 13, 'YEAR'] = 2017
UpdatedData_2017.loc[UpdatedData_2017['YEAR'] == 14, 'YEAR'] = 2017

In [33]:
#Change record lost and Data sensitivity columns to numeric as they have string values
#pd.to_numeric(Data_2017['records lost'])
#pd.to_numeric(Data_2017['DATA SENSITIVITY'])
#Replace DATA SENSITIVITY Column Values
#1. Just email address/Online information 20 SSN/Personal details 300 Credit card information 4000 Email password/Health records 50000 Full bank account details
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == 1, 'DATA SENSITIVITY'] = 'Just email address/Online information'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == 20, 'DATA SENSITIVITY'] = 'SSN/Personal details'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == 300, 'DATA SENSITIVITY'] = 'Credit card information'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == 4000, 'DATA SENSITIVITY'] = 'Email password/Health records'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == 50000, 'DATA SENSITIVITY'] = 'Full bank account details'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == '20', 'DATA SENSITIVITY'] = 'SSN/Personal details'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == '300', 'DATA SENSITIVITY'] = 'Credit card information'
UpdatedData_2017.loc[UpdatedData_2017['DATA SENSITIVITY'] == 3, 'DATA SENSITIVITY'] = 'Credit card information'

In [35]:
#Save the dataframe as a csv file
UpdatedData_2017.to_csv('Wrangled_Data_Lab1_2017.csv', index=False, encoding='utf-8')

# Tableau Visualization
# Version 1 :
https://public.tableau.com/profile/nandini6420#!/vizhome/Data_Breached_V1_0/SecurityBreachesarebecomingsevere

Advantages:
    - The objective “Security breaches are becoming less severe” is refuted
    - It depicts various demions across years to prove the claim

To be improved in next version:
    - The clarity of the dashboard could be improved in the next version, by choosing differnt maps to plot so that they provide insight on the objective over different parameters

# Version 2 :
https://public.tableau.com/profile/nandini6420#!/vizhome/Data_Breaches_V1_0/SecurityBreachSeverityconcern

Advantages:
    - The data breach happened over years across different organisations is clearly captured in the visualization.
    
To be improved in next version:
    - The next version could implements all the dimensions from the dataset to depict the information on sceurity breaches

# Version 3 :
https://public.tableau.com/profile/nandini6420#!/vizhome/Data_Breached_V3_0/SecurityBreaches

Advantages:
    - The visualization clearly explains that security breaches are becoming severe in the upcoming year based on all the possible dimensions from the datsets
    - Each attribute of the dataset are utilized in the right way to explain the claim
    - The secnarios developed to support the discussion does the job

To be improved in next version:
    - The storyline in the visualisation can be improved to prove the claim
    - Need to explore more in effectively using datasets in visualization