In [3]:
pdr.get_data_yahoo('AAPL')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.490000,30.642857,30.340000,30.572857,27.505054,123432400
2010-01-05,30.657143,30.798571,30.464285,30.625713,27.552608,150476200
2010-01-06,30.625713,30.747143,30.107143,30.138571,27.114347,138040000
2010-01-07,30.250000,30.285715,29.864286,30.082857,27.064222,119282800
2010-01-08,30.042856,30.285715,29.865715,30.282858,27.244156,111902700
2010-01-11,30.400000,30.428572,29.778572,30.015715,27.003820,115557400
2010-01-12,29.884285,29.967142,29.488571,29.674286,26.696650,148614900
2010-01-13,29.695715,30.132856,29.157143,30.092857,27.073221,151473000
2010-01-14,30.015715,30.065714,29.860001,29.918571,26.916422,108223500
2010-01-15,30.132856,30.228571,29.410000,29.418571,26.466595,148516900
2010-01-19,29.761429,30.741428,29.605715,30.719999,27.637430,182501900
2010-01-20,30.701429,30.792856,29.928572,30.247143,27.212029,153038200
2010-01-21,30.297142,30.472857,29.601429,29.724285,26.741631,152038600
2010-01-22,29.540001,29.642857,28.165714,28.250000,25.415281,220441900
2010-01-25,28.930000,29.242857,28.598572,29.010000,26.099028,266424900
2010-01-26,29.421429,30.530001,28.940001,29.420000,26.467880,466777500
2010-01-27,29.549999,30.082857,28.504286,29.697144,26.717218,430642100
2010-01-28,29.275715,29.357143,28.385714,28.469999,25.613209,293375600
2010-01-29,28.725714,28.885714,27.178572,27.437143,24.683992,311488100
2010-02-01,27.481428,28.000000,27.328571,27.818571,25.027143,187469100
2010-02-02,27.987143,28.045713,27.625713,27.980000,25.172379,174585600
2010-02-03,27.881428,28.600000,27.774286,28.461428,25.605494,153832000
2010-02-04,28.104286,28.338572,27.367144,27.435715,24.682707,189413000
2010-02-05,27.518572,28.000000,27.264286,27.922857,25.120964,212576700
2010-02-08,27.955715,28.268572,27.714285,27.731428,24.948748,119567700
2010-02-09,28.059999,28.214285,27.821428,28.027143,25.214790,158221700
2010-02-10,27.984285,28.085714,27.751429,27.874287,25.077271,92590400
2010-02-11,27.840000,28.535715,27.722857,28.381428,25.533520,137586400
2010-02-12,28.301428,28.805714,27.928572,28.625713,25.753294,163867200
2010-02-16,28.848572,29.098572,28.788572,29.057142,26.141434,135934400
...,...,...,...,...,...,...
2017-08-23,159.070007,160.470001,158.880005,159.979996,159.979996,19399100
2017-08-24,160.429993,160.740005,158.550003,159.270004,159.270004,19818900
2017-08-25,159.649994,160.559998,159.270004,159.860001,159.860001,25480100
2017-08-28,160.139999,162.000000,159.929993,161.470001,161.470001,25966000
2017-08-29,160.100006,163.119995,160.000000,162.910004,162.910004,29516900
2017-08-30,163.800003,163.889999,162.610001,163.350006,163.350006,27269600
2017-08-31,163.639999,164.520004,163.479996,164.000000,164.000000,26785100
2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16591100
2017-09-05,163.750000,164.250000,160.559998,162.080002,162.080002,29468500
2017-09-06,162.710007,162.990005,160.520004,161.910004,161.910004,21651700
2017-09-07,162.089996,162.240005,160.360001,161.259995,161.259995,21928500
2017-09-08,160.860001,161.149994,158.529999,158.630005,158.630005,28611500
2017-09-11,160.500000,162.050003,159.889999,161.500000,161.500000,31580800
2017-09-12,162.610001,163.960007,158.770004,160.860001,160.860001,71714000
2017-09-13,159.869995,159.960007,157.910004,159.649994,159.649994,44907400
2017-09-14,158.990005,159.399994,158.089996,158.279999,158.279999,23760700
2017-09-15,158.470001,160.970001,158.000000,159.880005,159.880005,49114600
2017-09-18,160.110001,160.500000,158.000000,158.669998,158.669998,28269400
2017-09-19,159.509995,159.770004,158.440002,158.729996,158.729996,20810600
2017-09-20,157.899994,158.259995,153.830002,156.070007,156.070007,52951400
2017-09-21,155.800003,155.800003,152.750000,153.389999,153.389999,37511700
2017-09-22,151.539993,152.270004,150.559998,151.889999,151.889999,46645400
2017-09-25,149.990005,151.830002,149.160004,150.550003,150.550003,44387300
2017-09-26,151.779999,153.919998,151.690002,153.139999,153.139999,36660000
2017-09-27,153.800003,154.720001,153.539993,154.229996,154.229996,25504200
2017-09-28,153.889999,154.279999,152.699997,153.279999,153.279999,22005500
2017-09-29,153.210007,154.130005,152.000000,154.119995,154.119995,26299800
2017-10-02,154.259995,154.449997,152.720001,153.809998,153.809998,18698800
2017-10-03,154.009995,155.089996,153.910004,154.479996,154.479996,16206900
2017-10-04,153.630005,153.860001,152.460007,153.479996,153.479996,18780543

In [2]:
import pandas_datareader as pdr

In [6]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [9]:
import datetime
amzn = pdr.get_quote_yahoo('AAPL')
from pandas_datareader.data import Options

In [14]:
import pandas as pd
Data = pd.read_excel("Cleaned_Update_2017.xlsx",sheetname=0)

In [11]:
pdr.get_quote_yahoo('AAPL')

         PE change_pct    last  short_ratio    time
AAPL  17.43     -0.65%  153.48          1.9  4:00pm

In [12]:
aapl = Options('ADP', 'yahoo')
data = aapl.get_all_data()
data.iloc[0:20, 0:20]

                                            Last    Bid    Ask   Chg  \
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000   0.05   0.00   0.10  0.00
       2019-01-18 put  ADP190118P00045000   0.10   0.05   0.25  0.00
47.5   2018-01-19 put  ADP180119P00047500   0.05   0.00   0.10  0.00
       2019-01-18 put  ADP190118P00047500   0.60   0.25   0.80  0.00
50.0   2018-01-19 put  ADP180119P00050000   0.05   0.00   0.15  0.00
       2019-01-18 call ADP190118C00050000  55.00  59.00  63.80  0.00
                  put  ADP190118P00050000   0.75   0.55   1.10  0.00
55.0   2018-01-19 put  ADP180119P00055000   0.05   0.00   0.10  0.00
       2018-02-16 put  ADP180216P00055000   0.10   0.00   0.15  0.00
       2019-01-18 put  ADP190118P00055000   0.25   0.10   0.45 -0.30
60.0   2018-01-19 put  ADP180119P00060000   0.05   0.00   0.15  0.00
       2018-02-16 put  ADP180216P00060000   0.05   0.00   0.10 -0.15
       2019-01-18 call ADP190118C00060000  37.30  38.70  42.50  0.00
70.0   2017-11-17 put  ADP171117P00070000   0.10   0.00   0.15  0.00
       2018-01-19 call ADP180119C00070000  37.00  39.20  43.70  0.00
                  put  ADP180119P00070000   0.10   0.00   0.15  0.00
       2018-02-16 put  ADP180216P00070000   0.45   0.30   0.55  0.00
       2019-01-18 call ADP190118C00070000  37.62  40.60  43.80  0.00
                  put  ADP190118P00070000   0.90   0.65   1.05  0.00
75.0   2017-11-17 put  ADP171117P00075000   0.20   0.10   0.35  0.00

                                              PctChg   Vol  Open_Int  \
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000   0.000000  26.0     112.0
       2019-01-18 put  ADP190118P00045000   0.000000   2.0     129.0
47.5   2018-01-19 put  ADP180119P00047500   0.000000   3.0       0.0
       2019-01-18 put  ADP190118P00047500   0.000000   1.0       0.0
50.0   2018-01-19 put  ADP180119P00050000   0.000000  10.0      39.0
       2019-01-18 call ADP190118C00050000   0.000000   1.0       1.0
                  put  ADP190118P00050000   0.000000   6.0      11.0
55.0   2018-01-19 put  ADP180119P00055000   0.000000   2.0      42.0
       2018-02-16 put  ADP180216P00055000   0.000000   2.0      19.0
       2019-01-18 put  ADP190118P00055000 -54.545456   2.0      29.0
60.0   2018-01-19 put  ADP180119P00060000   0.000000   4.0      75.0
       2018-02-16 put  ADP180216P00060000 -75.000000   2.0       2.0
       2019-01-18 call ADP190118C00060000   0.000000  23.0      29.0
70.0   2017-11-17 put  ADP171117P00070000   0.000000  15.0     117.0
       2018-01-19 call ADP180119C00070000   0.000000   1.0       1.0
                  put  ADP180119P00070000   0.000000  11.0     289.0
       2018-02-16 put  ADP180216P00070000   0.000000   2.0       3.0
       2019-01-18 call ADP190118C00070000   0.000000  13.0      26.0
                  put  ADP190118P00070000   0.000000  10.0     157.0
75.0   2017-11-17 put  ADP171117P00075000   0.000000  40.0      91.0

                                                 IV Root  IsNonstandard  \
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000  0.664066  ADP          False
       2019-01-18 put  ADP190118P00045000  0.394537  ADP          False
47.5   2018-01-19 put  ADP180119P00047500  0.628910  ADP          False
       2019-01-18 put  ADP190118P00047500  0.459478  ADP          False
50.0   2018-01-19 put  ADP180119P00050000  0.623051  ADP          False
       2019-01-18 call ADP190118C00050000  0.567509  ADP          False
                  put  ADP190118P00050000  0.466070  ADP          False
55.0   2018-01-19 put  ADP180119P00055000  0.527348  ADP          False
       2018-02-16 put  ADP180216P00055000  0.541020  ADP          False
       2019-01-18 put  ADP190118P00055000  0.347419  ADP          False
60.0   2018-01-19 put  ADP180119P00060000  0.539067  ADP          False
       2018-02-16 put  ADP180216P00060000  0.454107  ADP          False
       2019-01-18 call ADP190118C00060000  0.000010  ADP          False
70.0   2017-11-17 put  ADP171117P00070000  0.585942  ADP          False
       2018-01-19 call ADP180119C00070000  0.754153  ADP          False
                  put  ADP180119P00070000  0.417975  ADP          False
       2018-02-16 put  ADP180216P00070000  0.468755  ADP          False
       2019-01-18 call ADP190118C00070000  0.365302  ADP          False
                  put  ADP190118P00070000  0.290901  ADP          False
75.0   2017-11-17 put  ADP171117P00075000  0.600590  ADP          False

                                          Underlying  Underlying_Price  \
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000        ADP             111.4
       2019-01-18 put  ADP190118P00045000        ADP             111.4
47.5   2018-01-19 put  ADP180119P00047500        ADP             111.4
       2019-01-18 put  ADP190118P00047500        ADP             111.4
50.0   2018-01-19 put  ADP180119P00050000        ADP             111.4
       2019-01-18 call ADP190118C00050000        ADP             111.4
                  put  ADP190118P00050000        ADP             111.4
55.0   2018-01-19 put  ADP180119P00055000        ADP             111.4
       2018-02-16 put  ADP180216P00055000        ADP             111.4
       2019-01-18 put  ADP190118P00055000        ADP             111.4
60.0   2018-01-19 put  ADP180119P00060000        ADP             111.4
       2018-02-16 put  ADP180216P00060000        ADP             111.4
       2019-01-18 call ADP190118C00060000        ADP             111.4
70.0   2017-11-17 put  ADP171117P00070000        ADP             111.4
       2018-01-19 call ADP180119C00070000        ADP             111.4
                  put  ADP180119P00070000        ADP             111.4
       2018-02-16 put  ADP180216P00070000        ADP             111.4
       2019-01-18 call ADP190118C00070000        ADP             111.4
                  put  ADP190118P00070000        ADP             111.4
75.0   2017-11-17 put  ADP171117P00075000        ADP             111.4

                                                   Quote_Time  \
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000 2017-10-04 20:00:02
       2019-01-18 put  ADP190118P00045000 2017-10-04 20:00:02
47.5   2018-01-19 put  ADP180119P00047500 2017-10-04 20:00:02
       2019-01-18 put  ADP190118P00047500 2017-10-04 20:00:02
50.0   2018-01-19 put  ADP180119P00050000 2017-10-04 20:00:02
       2019-01-18 call ADP190118C00050000 2017-10-04 20:00:02
                  put  ADP190118P00050000 2017-10-04 20:00:02
55.0   2018-01-19 put  ADP180119P00055000 2017-10-04 20:00:02
       2018-02-16 put  ADP180216P00055000 2017-10-04 20:00:02
       2019-01-18 put  ADP190118P00055000 2017-10-04 20:00:02
60.0   2018-01-19 put  ADP180119P00060000 2017-10-04 20:00:02
       2018-02-16 put  ADP180216P00060000 2017-10-04 20:00:02
       2019-01-18 call ADP190118C00060000 2017-10-04 20:00:02
70.0   2017-11-17 put  ADP171117P00070000 2017-10-04 20:00:02
       2018-01-19 call ADP180119C00070000 2017-10-04 20:00:02
                  put  ADP180119P00070000 2017-10-04 20:00:02
       2018-02-16 put  ADP180216P00070000 2017-10-04 20:00:02
       2019-01-18 call ADP190118C00070000 2017-10-04 20:00:02
                  put  ADP190118P00070000 2017-10-04 20:00:02
75.0   2017-11-17 put  ADP171117P00075000 2017-10-04 20:00:02

                                              Last_Trade_Date  \
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000 2017-06-03 03:57:19
       2019-01-18 put  ADP190118P00045000 2017-10-03 13:54:17
47.5   2018-01-19 put  ADP180119P00047500 2017-07-08 03:46:28
       2019-01-18 put  ADP190118P00047500 2017-08-05 03:45:11
50.0   2018-01-19 put  ADP180119P00050000 2017-08-15 15:59:57
       2019-01-18 call ADP190118C00050000 2017-08-26 03:51:08
                  put  ADP190118P00050000 2017-06-03 03:57:22
55.0   2018-01-19 put  ADP180119P00055000 2017-08-24 14:02:59
       2018-02-16 put  ADP180216P00055000 2017-09-01 14:07:31
       2019-01-18 put  ADP190118P00055000 2017-10-04 13:35:55
60.0   2018-01-19 put  ADP180119P00060000 2017-09-19 19:31:55
       2018-02-16 put  ADP180216P00060000 2017-10-04 13:35:51
       2019-01-18 call ADP190118C00060000 2017-06-03 03:57:21
70.0   2017-11-17 put  ADP171117P00070000 2017-08-21 15:31:45
       2018-01-19 call ADP180119C00070000 2017-09-20 17:41:37
                  put  ADP180119P00070000 2017-09-26 19:52:56
       2018-02-16 put  ADP180216P00070000 2017-08-17 19:35:43
       2019-01-18 call ADP190118C00070000 2017-09-20 17:19:22
                  put  ADP190118P00070000 2017-09-25 14:48:21
75.0   2017-11-17 put  ADP171117P00075000 2017-08-17 19:47:48

                                                                                        JSON
Strike Expiry     Type Symbol
45.0   2018-01-19 put  ADP180119P00045000  {'contractSymbol': 'ADP180119P00045000', 'stri...
       2019-01-18 put  ADP190118P00045000  {'contractSymbol': 'ADP190118P00045000', 'stri...
47.5   2018-01-19 put  ADP180119P00047500  {'contractSymbol': 'ADP180119P00047500', 'stri...
       2019-01-18 put  ADP190118P00047500  {'contractSymbol': 'ADP190118P00047500', 'stri...
50.0   2018-01-19 put  ADP180119P00050000  {'contractSymbol': 'ADP180119P00050000', 'stri...
       2019-01-18 call ADP190118C00050000  {'contractSymbol': 'ADP190118C00050000', 'stri...
                  put  ADP190118P00050000  {'contractSymbol': 'ADP190118P00050000', 'stri...
55.0   2018-01-19 put  ADP180119P00055000  {'contractSymbol': 'ADP180119P00055000', 'stri...
       2018-02-16 put  ADP180216P00055000  {'contractSymbol': 'ADP180216P00055000', 'stri...
       2019-01-18 put  ADP190118P00055000  {'contractSymbol': 'ADP190118P00055000', 'stri...
60.0   2018-01-19 put  ADP180119P00060000  {'contractSymbol': 'ADP180119P00060000', 'stri...
       2018-02-16 put  ADP180216P00060000  {'contractSymbol': 'ADP180216P00060000', 'stri...
       2019-01-18 call ADP190118C00060000  {'contractSymbol': 'ADP190118C00060000', 'stri...
70.0   2017-11-17 put  ADP171117P00070000  {'contractSymbol': 'ADP171117P00070000', 'stri...
       2018-01-19 call ADP180119C00070000  {'contractSymbol': 'ADP180119C00070000', 'stri...
                  put  ADP180119P00070000  {'contractSymbol': 'ADP180119P00070000', 'stri...
       2018-02-16 put  ADP180216P00070000  {'contractSymbol': 'ADP180216P00070000', 'stri...
       2019-01-18 call ADP190118C00070000  {'contractSymbol': 'ADP190118C00070000', 'stri...
                  put  ADP190118P00070000  {'contractSymbol': 'ADP190118P00070000', 'stri...
75.0   2017-11-17 put  ADP171117P00075000  {'contractSymbol': 'ADP171117P00075000', 'stri...

In [28]:
ticker = Data.Entity
all_data = {}
for ticker in Data:
    start = pd.to_datetime(Data['YEAR'].astype(str), format='%Y')
    end = pd.to_datetime(Data['YEAR'].astype(str), format='%Y')
    all_data[ticker] = pdr.get_data_yahoo(ticker, start, end)

#prices = DataFrame({tic: data['Adj Close'] for tic, data in all_data.iteritems()})  
#returns = prices.pct_change()

AttributeError: 'Series' object has no attribute 'timetuple'

In [43]:
def get_symbol(name):
   url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)

   result = requests.get(url).json()

   for x in result['ResultSet']['Result']:
       if x['name'] == name:
           return x['symbol']
       
company = get_symbol("Microsoft Corporation")
print(company)

MSFT

In [54]:
import requests
import json
import urllib
def get_symbol(name):
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)

    result =requests.get(url).json()
    #return result['ResultSet']['Query']

In [55]:
mylist = Data.Entity.T.tolist()

In [56]:
for  xyz in mylist:
    mylist_a = get_symbol(xyz)
    print(mylist_a)

AOL
ADP
Ameritrade Inc.
Citigroup
Cardsystems Solutions Inc.
HPQ
Countrywide Financial Corp
KDDI
T-Mobile, Deutsche Telecom
AOL
US Dept of Vet Affairs
Texas Lottery
City and Hackney Teaching Primary Care Trust
GPS
Compass Bank
Monster.com
Driving Standards Agency
Driving Standards Agency,
Hannaford Brothers Supermarket Chain
AMTD
FIS
Dai Nippon Printing
UK Revenue
TK / TJ Maxx
Service Personnel and Veterans Agency (UK)
Stanford University
UK Home Office
AT
SBUX
RBS Worldpay
Jefferson County
UK Ministry of Defence
University of Miami
University of Utah Hospitals
Norwegian Tax Authorities
Data Processors International
Chile Ministry Of Education
GS Caltex
BNY Mellon Shareowner Services
Auction.co.kr
US Dept of Defense
US National Guard
University of California Berkeley
Affinity Health Plan, Inc.
Virginia Prescription Monitoring Program
Network Solutions
Blue Cross Blue Shield of Tennessee
AvMed, Inc.
Health Net
CheckFree Corporation
Virginia Dept. Of Health
RockYou!
US Military
Heartland
Yale University
AT
Colorado government
Lincoln Medical
Ankle
Emergency Healthcare Physicians, Ltd.
Seacoast Radiology, PA
Embassy Cables
US Military
US Federal Reserve Bank of Cleveland
Classified Iraq War documents
Triple-S Salud, Inc.
Puerto Rico Department of Health
Ohio State University
South Shore Hospital, Massachusetts
Gawker.com
New York City Health
Betfair
JPM-PB
Educational Credit Management Corp
Morgan Stanley Smith Barney
US Army
Writerspace.com
University of Wisconsin - Milwaukee
Memorial Healthcare System
US Law Enforcement
San Francisco Public Utilities Commission
Accendo Insurance Co.
Bethesda Game Studios
Restaurant Depot
Massachusetts Government
Southern California Medical-Legal Consultants
Honda Canada
Citigroup
Spartanburg Regional Healthcare System
Eisenhower Medical Center
Stratfor
Sony Pictures
Oregon Department of Motor Vehicles
Nemours Foundation
Sega
Washington Post
Health Net - IBM
Countrywide Financial Corp
State of Texas
Sutter Medical Foundation
Tricare
China Software Developer Network
NHS
178.com
Nexon Korea Corp
Sony Online Entertainment
Tianya
Steam
Sony PSN
Dropbox
Militarysingles.com
South Carolina Government
Emory Healthcare
Formspring
Yahoo Voices
Medicaid
California Department of Child Support Services
GPN
New York State Electric
Three Iranian banks
Office of the Texas Attorney General
LinkedIn, eHarmony, Last.fm
Gamigo
KT Corp.
Greek government
&quot;Apple&quot;
Blizzard
Zappos
Last.fm
Dropbox
Massive American business hack
Court Ventures
LNKD
South Carolina State Dept. of Revenue
Central Hudson Gas
Crescent Health Inc., Walgreens
Florida Courts
Florida Department of Juvenile Justice
Kirkwood Community College
Citigroup
Indiana University
Washington State court system
TerraCom
Nintendo
TWTR
AAPL
OVH
Scribd
Drupal
NMBS
National Security Agency
Kissinger Cables
Ubuntu
VOD
ssndob.ms
Advocate Medical Group
SnapChat
FB
Yahoo Japan
ADBE
Evernote
Living Social
UbiSoft
AABA
Tumblr
New York Taxis
NDAQ
Dominios Pizzas (France)
Japan Airlines
Mozilla
MacRumours.com
D
Neiman Marcus
SPLS
European Central Bank
UPS
CYH
&quot;Gmail&quot;
Sony Pictures
Twitch.tv
Korea Credit Bureau
AOL
HD
TGT
JPM-PB
Ebay
AABA
Invest Bank
Uber
IRS
TalkTalk
MSpy
Australian Immigration Department
British Airways
Hacking Team
Slack
Carefirst
CarPhone Warehouse
Sanrio
Adult Friend Finder
US Office of Personnel Management
VTech
Premera
Kromtech
Experian / T-mobile
US Office of Personnel Management (2nd Breach)
AshleyMadison.com
Securus Technologies
Deep Root Analytics
Syrian government
Minecraft
Mossack Fonseca
Mail. ru
Fling
Turkish citizenship database
Philippinesâ€™ Commission on Elections
Anthem
VK
Wendy&#39;s
Mutuelle Generale de la Police
MySpace
Linux Ubuntu forums
World Check
uTorrent
Banner Health
Privatization Agency of the Republic of Serbia
DGX
Three
Wonga
PayAsUGym
Red Cross Blood Service
DaFont
Brazzers
Snapchat
Bell
Cellebrite
Clinton campaign
ClixSense
Lynda.com
Interpark
Zomato
AABA
Weebly
Dailymotion
Friend Finder Network
River City Media
Telegram
Waterly
CEX
Swedish Transport Agency
Instagram
EFX
Spambot

In [71]:
def get_symbol(name):
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)

    result = requests.get(url).json()
    
    for x in result['ResultSet']['Result']:
        #if x['name'] == name :
            #if (x['exchDisp']=='NYSE'or x['exchDisp']=='NASDAQ'):
                #if x['typeDisp']=='Equity':
                    return x['symbol']
        
##company = get_symbol("twitter")
##print(company)
ticker=[]
cmp_name = Data.Entity
##for  xyz in cmp_name:
    ##ticker = get_symbol(xyz)
    ##print(ticker)
    
for  xyz in cmp_name:
    ticker.append(get_symbol(xyz))
    
    
print(ticker)

['AOL-U.TI', 'ADP', None, 'CIT-U.TI', None, 'HPQ', None, 'KDDIY', None, 'AOL-U.TI', None, None, None, 'GPS', None, None, None, None, None, 'AMTD', 'FIS', 'DNPCF', None, None, None, None, None, 'AT', 'SBUX', None, None, None, '^UMIAMIFL', None, None, None, None, None, None, None, None, None, None, None, None, 'LYNS', None, None, 'IGRW', None, None, None, None, 'HTLF', None, 'AT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'PPB.L', 'JPM-PB', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'CIT-U.TI', None, None, 'GB00B1Z54R10.L', None, None, None, 'SGAMY', None, None, None, None, None, None, None, 'NHS', None, None, None, '600488.SS', '200771.SZ', None, None, None, None, None, None, None, None, None, 'GPN', None, None, None, None, None, 'KTC.DU', None, None, 'ATVI', None, None, None, None, 'KCT.V', 'K55306BA2822.KS', None, None, None, None, None, None, 'CIT-U.TI', None, None, '2GF.F', 'NTDOY', 'TWTR', 'AAPL', 'OVH.AX', None, None, 'NMBS.KL', None, None, None, 'VOD', None, None, None, 'FB', 'YAHOY', 'ADBE', None, None, 'UBI.PA', 'AABA', None, None, 'NDAQ', None, 'JAPSY', None, None, 'D', None, 'SPLS', None, 'UPS', 'CYH', None, None, None, None, 'AOL-U.TI', 'HD', 'TGT', 'JPM-PB', 'EBAY', 'AABA', None, None, 'IRS', 'TALK.L', 'MSPYX', None, None, None, None, None, 'CPWFF8.EX', 'SJ8.MU', None, None, '0303.HK', None, None, None, None, None, None, None, None, None, None, None, 'FLINGX', None, None, 'ANTM', '536128.BO', None, None, None, None, None, None, None, None, 'DGX', 'ATGAX', None, None, None, None, None, None, 'T', None, None, None, None, '035080.KQ', None, 'AABA', None, None, None, None, None, None, '^CEX', None, None, 'EFX', None]

In [86]:
data_ticker = pd.DataFrame(ticker) 
data_ticker['Ticker_Symbol'] = pd.Series(ticker, index=data_ticker.index)

In [87]:
data_ticker

             0 Ticker_Symbol
0     AOL-U.TI      AOL-U.TI
1          ADP           ADP
2         None          None
3     CIT-U.TI      CIT-U.TI
4         None          None
5          HPQ           HPQ
6         None          None
7        KDDIY         KDDIY
8         None          None
9     AOL-U.TI      AOL-U.TI
10        None          None
11        None          None
12        None          None
13         GPS           GPS
14        None          None
15        None          None
16        None          None
17        None          None
18        None          None
19        AMTD          AMTD
20         FIS           FIS
21       DNPCF         DNPCF
22        None          None
23        None          None
24        None          None
25        None          None
26        None          None
27          AT            AT
28        SBUX          SBUX
29        None          None
..         ...           ...
223       None          None
224       None          None
225       None          None
226        DGX           DGX
227      ATGAX         ATGAX
228       None          None
229       None          None
230       None          None
231       None          None
232       None          None
233       None          None
234          T             T
235       None          None
236       None          None
237       None          None
238       None          None
239  035080.KQ     035080.KQ
240       None          None
241       AABA          AABA
242       None          None
243       None          None
244       None          None
245       None          None
246       None          None
247       None          None
248       ^CEX          ^CEX
249       None          None
250       None          None
251        EFX           EFX
252       None          None

[253 rows x 2 columns]

In [76]:
Data['Ticker_symbol']= data_ticker['Ticker_Symbol']

In [81]:
Data.head()

,Entity,YEAR,records lost,ORGANISATION,METHOD OF LEAK,DATA SENSITIVITY,Ticker_symbol
0,AOL,2004,92000000,web,inside job,Just email address/Online information,AOL-U.TI
1,Automatic Data Processing,2005,125000,financial,poor security,SSN/Personal details,ADP
3,Citigroup,2005,3900000,financial,lost / stolen device,Credit card information,CIT-U.TI
5,Hewlett Packard,2006,200000,"tech, retail",lost / stolen device,SSN/Personal details,HPQ
7,KDDI,2006,4000000,telecoms,hacked,Just email address/Online information,KDDIY

In [79]:
#Save the dataframe as a csv file
Data.to_csv('tickerSymbol.csv', index=False, encoding='utf-8')

In [80]:
#Drop empty columns(axis=1 for columns and axis=0 for rows; 
#how='all' to drop if all values are nan and how='any' to drop if any value is nan)
Data = Data.dropna(axis=0,how='any')

In [84]:
#Drop a row-1, inplace = True just fills within the same dataframe
data_ticker.drop(data_ticker.index[1:], inplace=True)

In [88]:
data_ticker.drop(data_ticker.columns[[0]], axis=1)

    Ticker_Symbol
0        AOL-U.TI
1             ADP
2            None
3        CIT-U.TI
4            None
5             HPQ
6            None
7           KDDIY
8            None
9        AOL-U.TI
10           None
11           None
12           None
13            GPS
14           None
15           None
16           None
17           None
18           None
19           AMTD
20            FIS
21          DNPCF
22           None
23           None
24           None
25           None
26           None
27             AT
28           SBUX
29           None
..            ...
223          None
224          None
225          None
226           DGX
227         ATGAX
228          None
229          None
230          None
231          None
232          None
233          None
234             T
235          None
236          None
237          None
238          None
239     035080.KQ
240          None
241          AABA
242          None
243          None
244          None
245          None
246          None
247          None
248          ^CEX
249          None
250          None
251           EFX
252          None

[253 rows x 1 columns]

In [89]:
data_ticker = data_ticker.dropna(axis=0,how='any')

In [90]:
data_ticker

                   0    Ticker_Symbol
0           AOL-U.TI         AOL-U.TI
1                ADP              ADP
3           CIT-U.TI         CIT-U.TI
5                HPQ              HPQ
7              KDDIY            KDDIY
9           AOL-U.TI         AOL-U.TI
13               GPS              GPS
19              AMTD             AMTD
20               FIS              FIS
21             DNPCF            DNPCF
27                AT               AT
28              SBUX             SBUX
32         ^UMIAMIFL        ^UMIAMIFL
45              LYNS             LYNS
48              IGRW             IGRW
53              HTLF             HTLF
55                AT               AT
71             PPB.L            PPB.L
72            JPM-PB           JPM-PB
87          CIT-U.TI         CIT-U.TI
90    GB00B1Z54R10.L   GB00B1Z54R10.L
94             SGAMY            SGAMY
102              NHS              NHS
106        600488.SS        600488.SS
107        200771.SZ        200771.SZ
117              GPN              GPN
123           KTC.DU           KTC.DU
126             ATVI             ATVI
131            KCT.V            KCT.V
132  K55306BA2822.KS  K55306BA2822.KS
..               ...              ...
162           UBI.PA           UBI.PA
163             AABA             AABA
166             NDAQ             NDAQ
168            JAPSY            JAPSY
171                D                D
173             SPLS             SPLS
175              UPS              UPS
176              CYH              CYH
181         AOL-U.TI         AOL-U.TI
182               HD               HD
183              TGT              TGT
184           JPM-PB           JPM-PB
185             EBAY             EBAY
186             AABA             AABA
189              IRS              IRS
190           TALK.L           TALK.L
191            MSPYX            MSPYX
197        CPWFF8.EX        CPWFF8.EX
198           SJ8.MU           SJ8.MU
201          0303.HK          0303.HK
213           FLINGX           FLINGX
216             ANTM             ANTM
217        536128.BO        536128.BO
226              DGX              DGX
227            ATGAX            ATGAX
234                T                T
239        035080.KQ        035080.KQ
241             AABA             AABA
248             ^CEX             ^CEX
251              EFX              EFX

[71 rows x 2 columns]

In [93]:
data_ticker = data_ticker.drop(data_ticker.columns[0], axis=1)

In [96]:
data_ticker

       Ticker_Symbol
0           AOL-U.TI
1                ADP
3           CIT-U.TI
5                HPQ
7              KDDIY
9           AOL-U.TI
13               GPS
19              AMTD
20               FIS
21             DNPCF
27                AT
28              SBUX
32         ^UMIAMIFL
45              LYNS
48              IGRW
53              HTLF
55                AT
71             PPB.L
72            JPM-PB
87          CIT-U.TI
90    GB00B1Z54R10.L
94             SGAMY
102              NHS
106        600488.SS
107        200771.SZ
117              GPN
123           KTC.DU
126             ATVI
131            KCT.V
132  K55306BA2822.KS
..               ...
162           UBI.PA
163             AABA
166             NDAQ
168            JAPSY
171                D
173             SPLS
175              UPS
176              CYH
181         AOL-U.TI
182               HD
183              TGT
184           JPM-PB
185             EBAY
186             AABA
189              IRS
190           TALK.L
191            MSPYX
197        CPWFF8.EX
198           SJ8.MU
201          0303.HK
213           FLINGX
216             ANTM
217        536128.BO
226              DGX
227            ATGAX
234                T
239        035080.KQ
241             AABA
248             ^CEX
251              EFX

[71 rows x 1 columns]

In [121]:
import datetime as dt

all_data = {}
start = dt.datetime(2004,1,1)
end = dt.datetime(2017,6,6)


for index, row in data_ticker.iterrows():
    all_data = pdr.get_data_yahoo(data_ticker['Ticker_Symbol'], start, end)
    prices = pd.DataFrame({tic: data['Close'] for tic, data in all_data.iteritems()})
#prices = pd.DataFrame(prices)
#prices.columns = ['stock_price']
#data_ticker = data_ticker.merge(prices, how='left', left_on='Ticker_Symbol', right_index=True)

/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AOL-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CIT-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '^UMIAMIFL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'JPM-PB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'KCT.V', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'NMBS.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CPWFF8.EX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'FLINGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/nandinirajeswaran/Applications/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '536128.BO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

KeyError: 'Close'

In [120]:


symbols_list = data_ticker.Ticker_Symbol
d = {}
for ticker in symbols_list:
    d[ticker] = pdr.DataReader(ticker, "yahoo", '2014-12-01')
pan = pd.Panel(d)

print(pan)

RemoteDataError: Unable to read URL: https://query1.finance.yahoo.com/v7/finance/download/DNPCF?period1=1417420800&period2=1507359599&interval=1d&events=history&crumb=%5Cu002FbsmW7dqsQc

In [115]:
start = datetime.datetime(2004,1,1)
end = datetime.datetime(2017,6,6)

# bond_prices = web.DataReader("AGG", 'yahoo', start, end)
bond_prices = pdr.get_data_yahoo("AABA", start, end)

In [116]:
bond_prices.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2004-01-02  22.750000  22.915001  22.559999  22.700001  22.700001  16480000
2004-01-05  22.879999  23.555000  22.674999  23.450001  23.450001  23107800
2004-01-06  23.219999  23.725000  23.174999  23.620001  23.620001  20527800
2004-01-07  23.450001  23.879999  23.424999  23.834999  23.834999  19229000
2004-01-08  24.000000  24.485001  23.934999  24.290001  24.290001  25469200

In [125]:
import datetime
start = datetime.datetime(2004,1,1)
end = datetime.datetime(2017,6,6)
data_source = 'yahoo'
panel_data = pdr.DataReader(ticker, data_source, start, end)

In [126]:
panel_data

                 Open       High        Low      Close  Adj Close  Volume
Date
2009-02-13  19.200001  19.200001  19.200001  19.200001  17.603231       0
2009-02-17  19.200001  19.200001  19.200001  19.200001  17.603231       0
2009-02-18  19.200001  19.200001  19.200001  19.200001  17.603231       0
2009-02-19  19.200001  19.200001  19.200001  19.200001  17.603231       0
2009-02-20  19.200001  19.200001  19.200001  19.200001  17.603231       0
2009-02-23  19.200001  19.200001  19.200001  19.200001  17.603231       0
2009-02-24  16.299999  16.299999  16.299999  16.299999  14.944408   18400
2009-02-25  16.299999  16.299999  16.299999  16.299999  14.944408       0
2009-02-26  16.400000  16.400000  16.400000  16.400000  15.036094    2000
2009-02-27  16.400000  16.400000  16.400000  16.400000  15.036094       0
2009-03-02  16.400000  16.400000  16.400000  16.400000  15.036094       0
2009-03-03  15.800000  15.800000  15.800000  15.800000  14.485993     500
2009-03-04  15.800000  15.800000  15.800000  15.800000  14.485993       0
2009-03-05  16.299999  16.299999  16.299999  16.299999  14.944408     400
2009-03-06  16.299999  16.299999  16.299999  16.299999  14.944408     500
2009-03-09  16.299999  16.299999  16.299999  16.299999  14.944408       0
2009-03-10  15.800000  15.800000  15.800000  15.800000  14.485993     500
2009-03-11  16.120001  16.120001  16.120001  16.120001  14.779380     500
2009-03-12  16.120001  16.120001  16.120001  16.120001  14.779380       0
2009-03-13  16.500000  16.799999  16.500000  16.500000  15.127776    1300
2009-03-16  16.500000  16.500000  16.500000  16.500000  15.127776       0
2009-03-17  16.500000  16.500000  16.500000  16.500000  15.127776       0
2009-03-18  16.500000  16.500000  16.500000  16.500000  15.127776       0
2009-03-19  16.500000  16.500000  16.500000  16.500000  15.127776       0
2009-03-20  16.500000  16.500000  16.500000  16.500000  15.127776       0
2009-03-23  18.700001  18.900000  18.700001  18.900000  17.328178    1000
2009-03-24  18.900000  18.900000  18.900000  18.900000  17.328178       0
2009-03-25  19.400000  19.400000  19.400000  19.400000  17.786600     600
2009-03-26  19.400000  19.400000  19.400000  19.400000  17.786600       0
2009-03-27  19.400000  19.400000  19.400000  19.400000  17.786600       0
...               ...        ...        ...        ...        ...     ...
2017-04-26  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-04-27  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-04-28  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-01  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-02  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-03  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-04  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-05  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-08  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-09  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-10  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-11  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-12  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-15  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-16  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-17  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-18  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-19  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-22  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-23  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-24  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-25  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-26  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-30  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-05-31  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-06-01  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-06-02  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-06-05  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-06-06  20.240000  20.240000  20.240000  20.240000  20.240000       0
2017-06-07  20.240000  20.240000  20.240000  20.240000  20.240000       0

[2093 rows x 6 columns]

In [ ]:
prices = pd.DataFrame({tic: data['Close'] for tic, data in all_data.iteritems()})